@font-face {
    font-family: 'geometria';
    src: url('geometria-webfont.eot');
    src: url('geometria-webfont.eot?#iefix') format('embedded-opentype'),
         url('geometria-webfont.woff2') format('woff2'),
         url('geometria-webfont.woff') format('woff'),
         url('geometria-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'geometria';
    src: url('geometria-light-webfont.eot');
    src: url('geometria-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('geometria-light-webfont.woff2') format('woff2'),
         url('geometria-light-webfont.woff') format('woff'),
         url('geometria-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'geometria';
    src: url('geometria-medium-webfont.eot');
    src: url('geometria-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('geometria-medium-webfont.woff2') format('woff2'),
         url('geometria-medium-webfont.woff') format('woff'),
         url('geometria-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
